/*
inline에서는 width, height, padding-top, padding-bottom,
border-top, border-bottom, margin-top, margin-bottm
사용 불가!!
*/
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #212529;
}

span {
    color: #fff;
    background-color: #0066ff;
}