/* 집 나간 자식!!! 
어떤 요소를 float화 시키면 그 요소가 Inline이든, Inline Block이든, Block이든 Block으로 바뀐다.
즉 width, height 등 전부 활용 가능하게 됨
하지만 블록인데... 길막을 못한다!!!
블록이 길막을 하는 방법 중
    1. 따로 width를 선언하지 않은 경우, width = 부모의 content-box의 100%
    2. 따로 width를 선언한 경우, 남은 공간은 margin으로 자동으로 채움(margin 자체를 줄 수 없다는 건 아님)
이 2가지가 있는데 먹히지 않음.
실제 콘텐츠 만큼 width 가짐
블록 박스들은 플로트 요소를 모름
텍스트나 이미지같은 '인라인' 요소는 플로트를 알고 피해감(집 나간 자식을 안다!!)

요즘에는 거의 안 쓰기는 하지만! 알기는 알아야함(마치 리액트의 클래스 컴포넌트 같이?!)

이에 대한 해결방법
1. 부모 요소에? overflow:hidden 하면 됨
2. Clearfix 하면됨 - 다른 요소에게 줌으로써 float에 대해 인지하게 함 - 부모 요소에서 전체 자식의 요소 다시 확인 가능(float 요소는 못 보더라도)
    - left, right, both를 값으로 가질 수 있음
    - css의 fake 요소(::befor, ::after)를 활용하여 깔끔하게 가능(빈 div 태그 없이)
      clear는 diaplay가 block인 요소에만 사용 가능!!

css의 fake 요소(Pseudo Element)
    - 요소::before
    - 요소::after
    여기서 content는 필수!!
*/
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #212529;
}

.parent {
    width: 400px;
    margin: 0 auto;
    background-color: #eff2f7;
    /* overflow:hidden; */
}

.parent::after {
    content: "";
    display: block;
    clear: left;
}

.child  {
    float: left;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.other {
    background-color: black;
    color: white;
}

.red::before {
    content: 'dsadad'
}